
        .css-dev-only-do-not-override-1dv7gqc a {
            color: #800080;
            /* Purple */
            text-decoration: none;
            background-color: transparent;
            outline: none;
            cursor: pointer;
            transition: color 0.3s;
            -webkit-text-decoration-skip: objects;
        }

        .css-dev-only-do-not-override-1dv7gqc a:hover {
            color: #9932CC;
            /* Dark Orchid */
        }

        .css-dev-only-do-not-override-1dv7gqc a:active {
            color: #4B0082;
            /* Indigo */
        }

        .css-dev-only-do-not-override-1dv7gqc a:active,
        .css-dev-only-do-not-override-1dv7gqc a:hover {
            text-decoration: none;
            outline: 0;
        }

        .css-dev-only-do-not-override-1dv7gqc a:focus {
            text-decoration: none;
            outline: 0;
        }

        .css-dev-only-do-not-override-1dv7gqc a[disabled] {
            color: rgba(0, 0, 0, 0.25);
            cursor: not-allowed;
        }

    /* <style data-rc-order="prependQueue" data-rc-priority="-999" data-css-hash="5akfm0" data-token-hash="1pjg6ju" data-cache-path="1pjg6ju|Drawer-Drawer|wayin-drawer|anticon"> */
        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
            font-size: 12px;
            box-sizing: border-box;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer::before,
        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer::after {
            box-sizing: border-box;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer [class^="wayin-drawer"],
        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer [class*=" wayin-drawer"] {
            box-sizing: border-box;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer [class^="wayin-drawer"]::before,
        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer [class*=" wayin-drawer"]::before,
        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer [class^="wayin-drawer"]::after,
        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer [class*=" wayin-drawer"]::after {
            box-sizing: border-box;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 0;
            pointer-events: none;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer-pure {
            position: relative;
            background: #ffffff;
            display: flex;
            flex-direction: column;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer-pure.wayin-drawer-left {
            box-shadow: 6px 0 16px 0 rgba(0, 0, 0, 0.08), 3px 0 6px -4px rgba(0, 0, 0, 0.12), 9px 0 28px 8px rgba(0, 0, 0, 0.05);
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer-pure.wayin-drawer-right {
            box-shadow: -6px 0 16px 0 rgba(0, 0, 0, 0.08), -3px 0 6px -4px rgba(0, 0, 0, 0.12), -9px 0 28px 8px rgba(0, 0, 0, 0.05);
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer-pure.wayin-drawer-top {
            box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer-pure.wayin-drawer-bottom {
            box-shadow: 0 -6px 16px 0 rgba(0, 0, 0, 0.08), 0 -3px 6px -4px rgba(0, 0, 0, 0.12), 0 -9px 28px 8px rgba(0, 0, 0, 0.05);
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer-inline {
            position: absolute;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-mask {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 0;
            background: rgba(0, 0, 0, 0.45);
            pointer-events: auto;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-content-wrapper {
            position: absolute;
            z-index: 0;
            max-width: 100vw;
            transition: all 0.3s;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-content-wrapper-hidden {
            display: none;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer-left>.wayin-drawer-content-wrapper {
            top: 0;
            bottom: 0;
            left: 0;
            box-shadow: 6px 0 16px 0 rgba(0, 0, 0, 0.08), 3px 0 6px -4px rgba(0, 0, 0, 0.12), 9px 0 28px 8px rgba(0, 0, 0, 0.05);
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer-right>.wayin-drawer-content-wrapper {
            top: 0;
            right: 0;
            bottom: 0;
            box-shadow: -6px 0 16px 0 rgba(0, 0, 0, 0.08), -3px 0 6px -4px rgba(0, 0, 0, 0.12), -9px 0 28px 8px rgba(0, 0, 0, 0.05);
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer-top>.wayin-drawer-content-wrapper {
            top: 0;
            left: 0;
            right: 0;
            box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer-bottom>.wayin-drawer-content-wrapper {
            bottom: 0;
            left: 0;
            right: 0;
            box-shadow: 0 -6px 16px 0 rgba(0, 0, 0, 0.08), 0 -3px 6px -4px rgba(0, 0, 0, 0.12), 0 -9px 28px 8px rgba(0, 0, 0, 0.05);
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-content {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            overflow: auto;
            background: #ffffff;
            pointer-events: auto;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-header {
            display: flex;
            flex: 0;
            align-items: center;
            padding: 16px 24px;
            font-size: 14px;
            line-height: 1.5714285714285714;
            border-bottom: 1px solid rgba(5, 5, 5, 0.06);
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-header-title {
            display: flex;
            flex: 1;
            align-items: center;
            min-width: 0;
            min-height: 0;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-extra {
            flex: none;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-close {
            display: inline-flex;
            width: 22px;
            height: 22px;
            border-radius: 6px;
            justify-content: center;
            align-items: center;
            margin-right: 8px;
            color: rgba(0, 0, 0, 0.45);
            font-weight: 600;
            font-size: 14px;
            font-style: normal;
            line-height: 1;
            text-align: center;
            text-transform: none;
            text-decoration: none;
            background: transparent;
            border: 0;
            cursor: pointer;
            transition: all 0.2s;
            text-rendering: auto;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-close:hover {
            color: rgba(0, 0, 0, 0.88);
            background-color: rgba(0, 0, 0, 0.06);
            text-decoration: none;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-close:active {
            background-color: rgba(0, 0, 0, 0.15);
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-close:focus-visible {
            outline: 4px solid #fff2f0;
            outline-offset: 1px;
            transition: outline-offset 0s, outline 0s;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-title {
            flex: 1;
            margin: 0;
            color: rgba(0, 0, 0, 0.88);
            font-weight: 600;
            font-size: 14px;
            line-height: 1.5714285714285714;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-body {
            flex: 1;
            min-width: 0;
            min-height: 0;
            padding: 24px;
            overflow: auto;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-body .wayin-drawer-body-skeleton {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-footer {
            flex-shrink: 0;
            padding: 8px 16px;
            border-top: 1px solid rgba(5, 5, 5, 0.06);
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer-rtl {
            direction: rtl;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-mask-motion-enter-start,
        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-mask-motion-appear-start,
        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-mask-motion-leave-start {
            transition: none;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-mask-motion-enter-active,
        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-mask-motion-appear-active,
        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-mask-motion-leave-active {
            transition: all 0.3s;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-mask-motion-enter,
        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-mask-motion-appear {
            opacity: 0;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-mask-motion-enter-active,
        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-mask-motion-appear-active {
            opacity: 1;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-mask-motion-leave {
            opacity: 1;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-mask-motion-leave-active {
            opacity: 0;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-left-enter-start,
        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-left-appear-start,
        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-left-leave-start {
            transition: none;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-left-enter-active,
        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-left-appear-active,
        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-left-leave-active {
            transition: all 0.3s;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-left-enter,
        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-left-appear {
            opacity: 0.7;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-left-enter-active,
        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-left-appear-active {
            opacity: 1;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-left-leave {
            opacity: 1;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-left-leave-active {
            opacity: 0.7;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-left-enter,
        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-left-appear {
            transform: translateX(-100%);
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-left-enter-active,
        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-left-appear-active {
            transform: none;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-left-leave {
            transform: none;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-left-leave-active {
            transform: translateX(-100%);
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-right-enter-start,
        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-right-appear-start,
        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-right-leave-start {
            transition: none;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-right-enter-active,
        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-right-appear-active,
        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-right-leave-active {
            transition: all 0.3s;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-right-enter,
        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-right-appear {
            opacity: 0.7;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-right-enter-active,
        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-right-appear-active {
            opacity: 1;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-right-leave {
            opacity: 1;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-right-leave-active {
            opacity: 0.7;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-right-enter,
        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-right-appear {
            transform: translateX(100%);
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-right-enter-active,
        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-right-appear-active {
            transform: none;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-right-leave {
            transform: none;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-right-leave-active {
            transform: translateX(100%);
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-top-enter-start,
        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-top-appear-start,
        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-top-leave-start {
            transition: none;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-top-enter-active,
        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-top-appear-active,
        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-top-leave-active {
            transition: all 0.3s;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-top-enter,
        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-top-appear {
            opacity: 0.7;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-top-enter-active,
        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-top-appear-active {
            opacity: 1;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-top-leave {
            opacity: 1;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-top-leave-active {
            opacity: 0.7;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-top-enter,
        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-top-appear {
            transform: translateY(-100%);
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-top-enter-active,
        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-top-appear-active {
            transform: none;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-top-leave {
            transform: none;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-top-leave-active {
            transform: translateY(-100%);
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-bottom-enter-start,
        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-bottom-appear-start,
        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-bottom-leave-start {
            transition: none;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-bottom-enter-active,
        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-bottom-appear-active,
        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-bottom-leave-active {
            transition: all 0.3s;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-bottom-enter,
        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-bottom-appear {
            opacity: 0.7;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-bottom-enter-active,
        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-bottom-appear-active {
            opacity: 1;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-bottom-leave {
            opacity: 1;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-bottom-leave-active {
            opacity: 0.7;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-bottom-enter,
        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-bottom-appear {
            transform: translateY(100%);
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-bottom-enter-active,
        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-bottom-appear-active {
            transform: none;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-bottom-leave {
            transform: none;
        }

        .css-dev-only-do-not-override-1dv7gqc.wayin-drawer .wayin-drawer-panel-motion-bottom-leave-active {
            transform: translateY(100%);
        }
    /* </style> */
    /* <style data-rc-order="prependQueue" data-css-hash="13duhwi" data-token-hash="1pjg6ju" data-cache-path="1pjg6ju|ant-design-icons|anticon"> */
        .anticon {
            display: inline-flex;
            align-items: center;
            color: inherit;
            font-style: normal;
            line-height: 0;
            text-align: center;
            text-transform: none;
            vertical-align: -0.125em;
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .anticon>* {
            line-height: 1;
        }

        .anticon svg {
            display: inline-block;
        }

        .anticon .anticon .anticon-icon {
            display: block;
        }
    /* </style> */
    /* <style data-rc-order="prependQueue" data-css-hash="1hgregh" data-token-hash="1husd2j" data-cache-path="1husd2j|ant-design-icons|anticon"> */
        .anticon {
            display: inline-flex;
            align-items: center;
            color: inherit;
            font-style: normal;
            line-height: 0;
            text-align: center;
            text-transform: none;
            vertical-align: -0.125em;
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .anticon>* {
            line-height: 1;
        }

        .anticon svg {
            display: inline-block;
        }

        .anticon .anticon .anticon-icon {
            display: block;
        }
    /* </style> */
    /* <style> */
        body,
        html {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow-y: auto;
            /* Allow scrolling only in the y-axis */
            overflow-x: hidden;
            /* Prevent scrolling in the x-axis */
            background: linear-gradient(135deg, rgba(10, 10, 35, 0.7), rgba(28, 21, 54, 0.7));
            /* Dark blue to indigo gradient with reduced opacity */
            color: #FFF;
            font-family: Arial, sans-serif;
        }

        .navbar {
            background-color: rgba(21, 22, 24, 0.7);
            /* Revert to original color with reduced opacity */
            color: white;
            padding: 2px 0;
            /* Decrease padding by 3px */
            text-align: center;
            position: fixed;
            width: calc(100% - 17px);
            /* Adjust width to avoid overlapping with scrollbar */
            top: 0;
            z-index: 1;
            /* Ensure it is above other elements */
        }

        .navbar-logo {
            float: left;
            padding: 6px 20px;
            /* Decrease padding by 3px */
        }

        .navbar-logo img {
            height: 40px;
            /* Adjust the height as needed */
        }

        .navbar-links {
            float: right;
        }

        .navbar-links a {
            float: left;
            display: block;
            color: #ffffff;
            /* White text */
            text-align: center;
            padding: 6px 20px;
            /* Decrease padding by 3px */
            text-decoration: none;
            border-radius: 20px;
            /* Circular edges */
            font-family: 'Russo One', sans-serif;
            /* Change font style to Russo One */
        }

        .navbar-links a:hover {
            background-color: rgba(255, 20, 147, 0.7);
            /* Dark pink on hover with reduced opacity */
        }

        .container {
            position: relative;
            /* Allow scrolling */
            width: 100%;
            height: 100%;
            /* Remove the height restriction */
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* Stack elements vertically */
        }

        .floating-logo {
            position: absolute;
            top: 60%;
            /* Start below the center */
            left: 50%;
            transform: translate(-50%, 50%);
            /* Move up from below */
            z-index: 1;
            background: rgba(0, 0, 0, 0.005);
            /* Semi-transparent background */
            padding: 10px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            flex-direction: row;
            /* Align elements horizontally */
            opacity: 0;
            transition: opacity 1s ease-in-out, transform 1s ease-in-out;
            /* Add transition effect */
        }

        .floating-logo img {
            height: 150px;
            /* Adjust the height as needed */
            margin-right: 20px;
            /* Space between logo and name */
        }

        .company-name h1 {
            font-size: 90px;
            /* Increase font size */
            font-weight: bolder;
            /* Make it bolder */
            font-family: 'Russo One', sans-serif;
            /* Change font style to Russo One */
            margin: 0;
            color: #eceeee;
            /* Sky blue color */
            text-shadow: 0 0 1px #9ed9f0, 0 0 3px #97c9dd, 0 0 10px #a5d7eb, 0 0 12px #9acbdf;
            /* Reduced glow effect */
        }

        .company-slogan {
            position: absolute;
            top: 70%;
            /* Adjust the position as needed */
            left: 50%;
            transform: translate(-50%, 100%);
            /* Start from below */
            z-index: 1;
            background: rgba(0, 0, 0, 0.005);
            /* Semi-transparent background */
            padding: 5px;
            border-radius: 10px;
            text-align: center;
            font-size: 24px;
            /* Adjust the font size as needed */
            color: #87CEEB;
            /* Sky blue color */
            font-family: 'Russo One', sans-serif;
            /* Change font style to Russo One */
            text-shadow: 0 0 1px #87CEEB, 0 0 3px #87CEEB, 0 0 10px #87CEEB, 0 0 12px #87CEEB;
            /* Reduced glow effect */
            opacity: 0;
            transition: opacity 1s ease-in-out, transform 1s ease-in-out;
            /* Add transition effect */
        }

        .output {
            width: 100%;
            /* Make output container cover full width */
            height: 100%;
        }

        .video-text-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
            padding: 20px;
            background: rgba(0, 0, 0, 0.1);
            /* Semi-transparent background */
            border-radius: 10px;
        }

        .video-text-container video {
            width: 45%;
            /* Adjust the width as needed */
            border-radius: 10px;
        }

        .video-text-container .text-content {
            width: 45%;
            /* Adjust the width as needed */
    
            padding: 20px;
            color: #FFF;
            font-family: 'Russo One', sans-serif;
            /* Change font style to Russo One */
            text-shadow: 0 0 1px #87CEEB, 0 0 3px #87CEEB, 0 0 10px #87CEEB, 0 0 12px #87CEEB;
            /* Reduced glow effect */
        }

        .background-video-container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            overflow: hidden;
        }

        .background-video-container video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        #A {
            z-index: 1;
            position: relative;
            margin-top: 10px;
            /* Add space between company name and element A */
        }

        .clubs {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 40px;
            /* Increase gap between video text container and cards container */
        }

        .clubs h1 {
            width: 100%;
            text-align: center;
            font-size: 70px;
            font-family: 'Russo One', sans-serif;
            /* Change font style to Russo One */
            color: #FFF;
            text-shadow: 0 0 1px #87CEEB, 0 0 3px #87CEEB, 0 0 10px #87CEEB, 0 0 12px #87CEEB;
            /* Match text container style */
        }

        .flip-card {
            background-color: rgba(0, 0, 0, 0.5);
            /* Decrease opacity */
            width: 20%;
            /* Reduce the width to fit more cards in a row */
            height: 350px;
            /* Reduce the height */
            perspective: 1000px;
            margin-bottom: 30px;
            /* Increase space between rows */
            margin-right: 20px;
            /* Increase gap between two flip cards */
            margin-left: 20px;
            /* Increase gap between two flip cards */
            position: relative;
            overflow: hidden;
            transform-style: preserve-3d;
            /* Remove transition effect */
        }

        .flip-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transform-style: preserve-3d;
            /* Remove transition effect */
        }

        .flip-card-front,
        .flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 15px;
            /* Increase gap between the borders */
        }

        .flip-card-back {
            transform: rotateY(180deg);
            /* Rotate back face */
        }

        .flip-card-front {
            background-color: #000;
            /* Change to black */
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .flip-card-front img {
            width: 80%;
            height: auto;
            border-radius: 10px;
        }

        .flip-card-front h2 {
            margin-top: 10px;
            font-family: 'Russo One', sans-serif;
            /* Change font style to Russo One */
            color: #FFF;
            text-shadow: 0 0 1px #87CEEB, 0 0 3px #87CEEB, 0 0 10px #87CEEB, 0 0 12px #87CEEB;
            /* Match text container style */
        }

        .explore-button {
            position: absolute;
            bottom: -50px;
            /* Initially hidden below the card */
            left: 50%;
            transform: translateX(-50%);
            background-color: #ff1493;
            /* Dark pink */
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: bottom 0.3s ease-in-out;
        }

        .flip-card:hover .explore-button {
            bottom: 20px;
            /* Move up to be visible */
        }

        .flip-card::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }

        .flip-card:hover::before {
            opacity: 1;
        }

        .sponsors {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 40px;
            /* Increase gap between cards container and sponsors section */
        }

        .sponsors h1 {
            width: 100%;
            text-align: center;
            font-family: 'Russo One', sans-serif;
            /* Change font style to Russo One */
            color: #FFF;
            text-shadow: 0 0 1px #87CEEB, 0 0 3px #87CEEB, 0 0 10px #87CEEB, 0 0 12px #87CEEB;
            /* Match text container style */
        }

        .sponsor-logo {
            width: 20%;
            /* Adjust the width as needed */
            margin: 20px;
            text-align: center;
        }

        .sponsor-logo img {
            width: 100%;
            /* Adjust the width as needed */
            border-radius: 10px;
        }
    /* </style> */
    /* <style> */
        .flip-card {

            padding: 7px;



            border-radius: 10px;
            position: relative;
        }

        @property --angle {
            syntax: "<angle>";
            initial-value: 0deg;
            inherits: false;
        }

        .flip-card::after,
        .flip-card::before {
            content: '';
            position: absolute;

            background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);

            z-index: -1;
            padding: 3px;
            border-radius: 10px;
            animation: 3s spin linear infinite;
        }

        .flip-card::before {
            filter: blur(1.5rem);
            opacity: 0.5;
        }

        @keyframes spin {
            from {
                --angle: 0deg;
            }

            to {
                --angle: 360deg;
            }
        }

        .image-border {
            padding: 20px;
            border-radius: 10px;
            position: relative;
            display: inline-block;
        }

        .image-border::after,
        .image-border::before {
            content: '';
            position: absolute;
            background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
            z-index: 10;
            padding: 100px;
            border-radius: 10px;
            animation: 3s spin linear infinite;
        }

        .image-border::before {
            filter: blur(1.5rem);
            opacity: 10;
        }
    /* </style> */

    /* <style> */
        body {
            /* height: 100vh; */
            /* background: #000115; */
            cursor: none;
        }

        .main {
            height: 100vh;
            /* display: flex; */
            /* justify-content: center; */
            /* align-items: center; */
        }



        .cursor {
            z-index: 999;
            position: fixed;
            background: #2696E8;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            pointer-events: none;
            box-shadow: 0 0 20px #2696E8,
                0 0 60px #2696E8,
                0 0 100px #2696E8;
            animation: colors 5s infinite;
            transform: translate(-50%, -50%);
            display: none;
        }

        @keyframes colors {
            0% {
                filter: hue-rotate(0deg);
            }

            100% {
                filter: hue-rotate(360deg);
            }
        }

        .cursor:before {
            content: '';
            position: absolute;
            background: #2696E8;
            width: 50px;
            height: 50px;
            opacity: 0.2;
            transform: translate(-30%, -30%);
            border-radius: 50%;
        }

        /* Footer styles */
        .footer {
            background-color: rgba(21, 22, 24, 0.7);
            /* Match navbar color with reduced opacity */
            color: white;
            text-align: center;
            padding: 10px 0;
            /* Adjust padding as needed */
            position: relative;
            width: 100%;
            bottom: 0;
            font-family: 'Russo One', sans-serif;
            /* Change font style to Russo One */
        }
    /* </style> */
    /* <style> */
        body,
        html {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow-y: auto;
            /* Allow scrolling only in the y-axis */
            overflow-x: hidden;
            /* Prevent scrolling in the x-axis */
            background: linear-gradient(135deg, rgba(10, 10, 35, 0.7), rgba(28, 21, 54, 0.7));
            /* Dark blue to indigo gradient with reduced opacity */
            color: #FFF;
            font-family: Arial, sans-serif;
        }

        .container {
            position: relative;
            /* Allow scrolling */
            width: 100%;
            height: 100%;
            /* Remove the height restriction */
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* Stack elements vertically */
        }

        .sponsors {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 40px;
            /* Increase gap between cards container and sponsors section */
        }

        .sponsors h1 {
            width: 100%;
            text-align: center;
            font-size: 80px;
            font-family: 'Russo One', sans-serif;
            /* Change font style to Russo One */
            color: #FFF;
            text-shadow: 0 0 1px #87CEEB, 0 0 3px #87CEEB, 0 0 10px #87CEEB, 0 0 12px #87CEEB;
            /* Match text container style */
        }

        .sponsor-logo {
            width: 20%;
            /* Adjust the width as needed */
            margin: 20px;
            text-align: center;
        }

        .sponsor-logo img {
            width: 450px;
            /* Adjust the width as needed */
            height: 200px;
            border-radius: 10px;
            display: block;
            margin-right: 800px;
            
        }

        .sponsor-logo a {
            display: block;
            margin-top: 10px;
            font-family: 'Russo One', sans-serif;
            font-size: 24px;
            color: #FFF;
            text-decoration: none;
            text-shadow: 0 0 1px #87CEEB, 0 0 3px #87CEEB, 0 0 10px #87CEEB, 0 0 12px #87CEEB;
        }

        .sponsor-logo a:hover {
            color: #FFF;
        }

        .selected-part {
            font-family: 'Russo One', sans-serif;
            /* Change font style to Russo One */
            font-size: 80px;
            color: #FFF;
            text-shadow: 0 0 1px #87CEEB, 0 0 3px #87CEEB, 0 0 10px #87CEEB, 0 0 12px #87CEEB;
            /* Match text container style */
        }

        /* Footer styles */
        .footer {
            background-color: rgba(21, 22, 24, 0.7);
            /* Match navbar color with reduced opacity */
            color: white;
            text-align: center;
            padding: 10px 0;
            /* Adjust padding as needed */
            position: relative;
            width: 100%;
            bottom: 0;
            font-family: 'Russo One', sans-serif;
            /* Change font style to Russo One */
        }
        
    /* </style> */