   /* Container for centering the images */
   .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}
.zoom-container {
    width: 300px; /* Default width */
    height: 400px; /* Default height */
    position: relative;
    display: inline-block;
    margin-right: 20px; /* Gap between images */
}
.zoom-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the whole div */
    object-position: center; /* Center the image within the div */
}
.zoom-container::after {
    pointer-events: none;
    display: var(--display);
    content: '';
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: var(--url);
    background-size: 200%;
    background-position: var(--zoom-x) var(--zoom-y);
    position: absolute;
    left: 0;
    top: 0;
}
/* Specific size for the second image */
#secondimage {
    width: 600px; /* New width */
    height: 400px; /* New height */
}